@use "defaults" as *;

// Material Theming
@use "@material/theme" with (
    $background: $background,
    $on-primary: $on-primary,
    $on-secondary: $on-secondary,
    $primary: $primary,
    $secondary: $secondary,
);
